{% extends 'StasmoPanaxBundle::layout.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-sm-8">
		<img src="{{ bio.imageLocation }}" class='img-responsive img-rounded'>
	</div>
	<div class="col-sm-4">
		{{ bio.body|raw }}
	</div>
</div>
{% endblock %}