{% extends "StasmoPanaxBundle::layout.html.twig" %}

{% block body %}
<div id="music" class="row">
	<div class="col-xs-12 col-sm-6">
		{% for left in lefts %}
		    {{ left.embedString|raw }}
		{% endfor %}
	</div>
	<div class="col-xs-12 col-sm-6">
		{% for right in rights %}
		    {{ right.embedString|raw }}
		{% endfor %}
	</div>
</div>
{% endblock %}