@panax_orange: #f26640;

body{
	a{
		color: @panax_orange;
	}
	a:hover{
		color: #d04420;
	}
	#body{
		margin-top: 50px;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: 'Montserrat Alternates';
	}
	color: #fff;
	background: #000;
	#header{
		margin-top: 50px;
	}

	#nav{
		li a{
			color: #fff;
			font-size: 2em;
			font-family: 'Montserrat Alternates';
		}
		li a:hover{
			color: black;
			background-color: #aaa;
		}
		li.active a{
			color: black;
			background: none;
		    text-shadow:
		    -1px -1px 0 @panax_orange,
		    1px -1px 0 @panax_orange,
		    -1px 1px 0 @panax_orange,
		    1px 1px 0 @panax_orange;
		}
	}

	#nav .dropdown{
		font-size: 3em;
		li a{
			color: #000;
		}
	}

	#footer{
		margin-top: 50px;
		.social{
			display: inline-block;
			margin: 25px 10px 10px 10px;
		}
	}
}

#penrose{
	position: fixed;
	opacity: 0.25;
	height: 100%;
	width: 100%;
	background-image: url(/bundles/stasmopanax/images/penrose.svg);
	background-position: center center;
	background-repeat: no-repeat;
}