{% extends 'StasmoPanaxBundle::layout.html.twig' %}

{% block body %}
<div id="images" class='row'>
	{% for image in images %}
	<div class="col-xs-4">
		<a href="{{ image.webLocation }}" class='fancy'>
			<img class='img-responsive' src="{{ image.webLocation | imagine_filter('thumb_medium') }}">
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
	$images = $('.fancy');
	$images.fancybox();
})
</script>
{% endblock %}