{% extends "StasmoPanaxBundle::layout.html.twig" %}
{% block body %}
<div class="row">
	<div class="col-sm-12" id='videos'>
		<iframe src="//www.youtube.com/embed/_KquXUZyvGE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src='/bundles/stasmopanax/js/videos.js'></script>
{% endblock %}