{% extends "StasmoPanaxBundle::layout.html.twig" %}
{% block body %}
<div class="row">
	<div class="col-sm-12" id='videos'>
		{% for video in videos %}
			<div class="video">
				{{ video.embedString|raw }}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src='/bundles/stasmopanax/js/videos.js'></script>
{% endblock %}